/* SCSS HEX */
$deep-taupe: #695760ff;
$mountbatten-pink: #997d8cff;
$black-shadows: #b5a1a7ff;
$pale-silver: #c8bcb8ff;
$orchid-crayola: #e5a7d3ff;
$trasparente: #ffffff00;
$colorNegro:#000;


:root {
    /*funtes primarias*/
    --fuenteLetraPrincipal: "Lato";
    --funeteSecundaria: "Poppins";
    /*fuente Secundaria*/
    --fuenteHeading: "PT Sans", sans-serif;
    --FuenteParrafo: "Open sans", sans-serif;
    /*color*/
    --font-color: #ffffff;
    --colorblanco: #fff;
    --colorgris: rgb(89, 89, 89, 0.972);
    --purpeT: rgba(141, 138, 141, 0.64);
    --font-color: #000000;
    --negro: #0a0a0a;
    
    --naranja: #f67e0e;
    --azul: #1844a39f;
    --azulado: #313a3d;
    --trasparente: rgba(0, 0, 0, 0);
  }

  /* SCSS PALETA GENERAdA PROXIMA A CAMBIO DE COLORES
$columbia-blue: #c1dbe3ff;
$tea-green: #c7dfc5ff;
$lemon-yellow-crayola: #f6feaaff;
$buff: #fce694ff;
$jet: #373737ff;
*/