@use 'color';
/*menu*/
.circular-menu {
  position: fixed;
  bottom: 3em;
  right: 3em;
  border: none;
  
}
.circular-menu .floating-btn {
  display: block;
  width: 7em;
  height: 7em;
  border-radius: 50%;
  border: 1px solid black;
  background-color: color.$black-shadows;
  color: color.$trasparente;
  text-align: center;
  line-height: 3.9;
  cursor: pointer;
  outline: 0;
}

.circular-menu.active .floating-btn {
  box-shadow: inset 0 0 3px white;
}

.circular-menu .floating-btn:active {
  box-shadow: 0 4px 8px 0 white;
}

.circular-menu .floating-btn i {
  font-size: 1.3em;
  transition: transform 1s;
  
}

.circular-menu.active .floating-btn i {
  transform: rotate(-20deg);
}

.circular-menu:after {
  display: block;
  content: "";
  width: 7em;
  height: 7em;
  border-radius: 70%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
  background-color: color.$black-shadows;
  transition: all 0.3s ease;
  border:0.1px solid rgba(110, 103, 103, 0.303);
}

.circular-menu.active:after {
  transform: scale3d(5.5, 5.5, 1);
  transition-timing-function: cubic-bezier(0.68, 1.55, 0.265, 1);
}

.circular-menu .items-wrapper {
  padding: 0;
  margin: 0;
 
}

.circular-menu .menu-item {
  position: absolute;
  top: 0em;
  right: 0em;
  z-index: -1;
  display: block;
  text-decoration: none;
  font-size: 1em;
  width: 7em;
  height: 7em;
  border-radius: 50%;
  text-align: center;
  line-height: 1;
  background-color: color.$mountbatten-pink;
  transition: transform 0.3s ease, background 4s ease; //movimiento de iconos
  background-repeat: no-repeat;
  background-position: center;
  border: 0.1px solid black; // color de fondo de los iconos

}

.circular-menu .menu-item:hover {
  background-color: color.$mountbatten-pink;
}

.circular-menu.active .menu-item {
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.circular-menu.active .menu-item:nth-child(1) {
  transform: translate3d(1em, -13em, 0);
}

.circular-menu.active .menu-item:nth-child(2) {
  transform: translate3d(-7em, -11em, 0);
}

.circular-menu.active .menu-item:nth-child(3) {
  transform: translate3d(-11em, -4em, 0);
}

.circular-menu.active .menu-item:nth-child(4) {
  transform: translate3d(-11em, 4em, 0);
}

/**Orden del menu**/
.circular-menu.circular-menu-left {
  right: auto;
  left: 1em;
 
}

.circular-menu.circular-menu-left .floating-btn {
  background-color: color.$black-shadows;
}

.circular-menu.circular-menu-left:after {
  background-color: color.$black-shadows;
}

.circular-menu.circular-menu-left.active .floating-btn i {
  transform: rotate(90deg);
}

.circular-menu.circular-menu-left.active .menu-item:nth-child(1) {
  transform: translate3d(-0.5em, -13em, 0);
}

.circular-menu.circular-menu-left.active .menu-item:nth-child(2) {
  transform: translate3d(7.5em, -10.5em, 0);
}

.circular-menu.circular-menu-left.active .menu-item:nth-child(3) {
  transform: translate3d(12em, -3.9em, 0);
}

.circular-menu.circular-menu-left.active .menu-item:nth-child(4) {
  transform: translate3d(11.7em, 3.8em, 0);
}
