/*primer parrafo modificado*/
/*Corregido verificar*/
.portafolio {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: transparent;
  width: 90%;
  height: 100%;
  padding: 3%;
  .portafolio-blast {
    font-size: 5rem;
    text-align: end;
  }
  @media (max-width: 768px) {
    .portafolio-blast {
     
      text-align: center;
    }
  }
}
.portafolioP {
  font-size: 2rem;
  text-align: start;
}
@media (max-width: 768px) {
  .portafolioP {
    font-size: 2rem;
    text-align: center;
    padding: 2px;
  }
}
.portafolioP2 {
  font-size: 2rem;
  font-family: var(--fuenteLetraPrincipal);
  justify-content: flex-start;
  padding: 0%;
  text-align: start;
}

@media (max-width: 768px) {
  .portafolioP2 {
    font-size: 2rem;
    width: 100%;
    text-align: center;
    
  }
}
/*Segundo parrafo modificado*/
.portafolio2 {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  background-color: transparent;
  width: 90%;
  height: 100%;
 
  .portafolio-blast2 {
    text-align: end;
    font-size: 5rem;
    padding: 5rem;
  }
  @media (max-width: 768px) {
    .portafolio-blast2 {
      text-align: center;
      font-size: 4rem;
      padding: 2;
    }
  }
  @media (max-width: 768px) {
    .portafolioP2 {
     
    }
  }
}


