
html.is-dark body {
  background: var(--negro);
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
}
button {
  width: 5rem;
  height: 5rem;
  background: var(--trasparente);
  border-radius: 50%;
  position: absolute;
  border: 1px solid var(--amarillo);
  .hola {
    display: flex;
    justify-content: center;
    font-family: var(--fuenteLetraPrincipal);
    font-size: 3rem;
  }
}

@media (max-width: 768px) {
  .hola {
    padding: 1px;
  }
}
