@use 'font';
/*Titulo */
//corregido verificar
.titulo {
  display: flex;
  overflow: hidden;
  padding: 5rem;
  font-size: 5.4rem;
  font-family: font.$fontTitulo;
  .titulo__span {
    display: inline-block;
  }
  @media screen and (max-width: 768px) {
    .titulo {
      padding: 4rem;
      font-size: 3.3rem;
      justify-content: center;
    }
    .titulo__span {
      font-size: 2.1rem;
    }
  }
}

.titulo {
  animation: showup 7s infinite;
}
.titulo:first-of-type {
  animation: showup 7s infinite;
}
.titulolast-of-type {
  width: 0px;
  animation: reveal 7s infinite;
}
.titulo:last-of-type span {
  margin-left: -355px;
  animation: slidein 7s infinite;
}

@keyframes showup {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slidein {
  0% {
    margin-left: -800px;
  }
  20% {
    margin-left: -800px;
  }
  35% {
    margin-left: 0px;
  }
  100% {
    margin-left: 0px;
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
    width: 0px;
  }
  20% {
    opacity: 1;
    width: 0px;
  }
  30% {
    width: 355px;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 355px;
  }
}
